:root {}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.color-light-gray {
    background-color: #e5e5e5;
}

/* Header */

nav {
    min-width: 405px;
    max-height: 65px;
}

nav img {
    max-height: 38px;
}

.my-search-bar {
    height: 38px;
}

/* Main */

.sidebar-bg {
    background-image: url(../img/sidebar-bg.png);
    background-color: #11283e;
}

.side-icon {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: .5rem;
}

.bg-color-badge {
    background-color: #165bba;
}

/* Footer */